{% extends 'EndroidIntakeBundle::base.html.twig' %}

{% block intake_title %}{{ intake.name }}{% endblock %}

{% block content %}

    <style>
        input[type="text"] {
            text-align: center;
            border: 0;
            border-bottom: 1px dashed #555;
        }
        h1 {
            padding-bottom: 10px;
        }
        .text {
            padding-bottom: 15px;
        }
        button {
            padding-top: 5px;
        }
    </style>

    <script>
        function submitForm() {
            return confirm('Weet je het zeker?');
        }
    </script>

    <div>

        {% if not level.textsCompleted(app.user) %}

            <form id="intakeForm" method="post" onsubmit="submitForm();" action="{{ path('endroid_intake_intake_setanswers', { intake: intake.id, level: level.id }) }}">
                {% for text in level.texts %}
                    <div class="text">
                        <h1><span class="label label-default">Tekst {{ loop.index }}: {{ text.title }}</span></h1>
                        <p>
                            {% for part in text.parts %}
                                {% if part.type == 'question' %}
                                    {% set answer = part.answer(app.user) %}
                                    <input type="text" name="answers[{{ part.id }}]" value="{% if answer %}{{ answer.content }}{% endif %}" />
                                {% elseif part.type == 'text' %}
                                    {{ part.content }}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                {% else %}
                {% endfor %}
                <div class="text">
                    <button type="submit" class="btn btn-default">Opslaan</button>
                </div>
            </form>

        {% elseif not level.extrasCompleted(app.user) %}

            <form id="intakeForm" method="post" onsubmit="submitForm();" action="{{ path('endroid_intake_intake_setanswers', { intake: intake.id, level: level.id }) }}">
                {% for text in level.extras %}
                    <div class="text">
                        <p>
                            {% for part in text.parts %}
                                {% if part.type == 'question' %}
                                    {% set answer = part.answer(app.user) %}
                                    <input type="text" name="answers[{{ part.id }}]" value="{% if answer %}{{ answer.content }}{% endif %}" />
                                {% elseif part.type == 'text' %}
                                    {{ part.content }}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                {% else %}
                {% endfor %}
                <div class="text">
                    <button type="submit" class="btn btn-default">Opslaan</button>
                </div>
            </form>

        {% else %}

            Completed all

        {% endif %}

    </div>

{% endblock %}