{% extends 'EndroidIntakeBundle::base.html.twig' %}

{% block avanzu_page_title %}{{ intake.name }}{% endblock %}

{% block avanzu_page_content %}

    {% if not level.textsCompleted(app.user) %}

        <form id="intakeForm" method="post" onsubmit="submitForm();" action="{{ path('endroid_intake_intake_setanswers', { intake: intake.id, level: level.id }) }}">
            {% for text in level.texts %}

                {% embed 'AvanzuAdminThemeBundle:Widgets:infobox-widget.html.twig'  with { color: 'aqua', icon:'comments-o' } %}
                    {% block box_number %}
                        Tekst {{ loop.index }}: {{ text.title }}
                    {% endblock %}
                    {% block progress_description %}
                        {% for part in text.parts %}
                            {% if part.type == 'question' %}
                                {% set answer = part.answer(app.user) %}
                                <input type="text" placeholder=". . . . . ." name="answers[{{ part.id }}]" value="{% if answer %}{{ answer.content }}{% endif %}" />
                            {% elseif part.type == 'text' %}
                                {{ part.content }}
                            {% endif %}
                        {% endfor %}
                    {% endblock %}
                {% endembed %}

            {% endfor %}

            <input class="btn btn-info btn-lg" type="submit" value="Opslaan">

        </form>

    {% elseif not level.extrasCompleted(app.user) %}

        <form id="intakeForm" method="post" onsubmit="submitForm();" action="{{ path('endroid_intake_intake_setanswers', { intake: intake.id, level: level.id }) }}">
            {% for text in level.extras %}

                {% embed 'AvanzuAdminThemeBundle:Widgets:infobox-widget.html.twig'  with { color: 'aqua', icon:'comments-o' } %}
                    {% block box_number %}
                        Aanvulzin {{ loop.index }}
                    {% endblock %}
                    {% block progress_description %}
                        {% for part in text.parts %}
                            {% if part.type == 'question' %}
                                {% set answer = part.answer(app.user) %}
                                <input type="text" placeholder=". . . . . ." name="answers[{{ part.id }}]" value="{% if answer %}{{ answer.content }}{% endif %}" />
                            {% elseif part.type == 'text' %}
                                {{ part.content }}
                            {% endif %}
                        {% endfor %}
                    {% endblock %}
                {% endembed %}

            {% endfor %}

            <input class="btn btn-info btn-lg" type="submit" value="Opslaan">
        </form>

    {% else %}

        {% embed 'AvanzuAdminThemeBundle:Widgets:box-widget.html.twig' %}
            {% block box_title %}
                Deze intake is volledig afgerond.
            {% endblock %}
            {% block box_body %}
                <a class="btn btn-info" href="{{ path('endroid_intake_intake_index') }}" role="button">Terug</a>
            {% endblock %}
        {% endembed %}

    {% endif %}

    <script>
        function submitForm() {
            return confirm('Weet je het zeker?');
        }
    </script>

    <style>
        .info-box-number { font-size: 150%; padding: 0 5px; }
        .progress-description { font-size: 120%; white-space: normal; text-align: justify; padding: 0 5px 5px 5px; }
        .progress-description input { width: 140px; border: 0; font-weight: bold; text-align: center; }
    </style>

{% endblock %}